header {
  background-color: black;
}


.new-header{
  background-color: black;
  flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}
.spready{
flex:1;
}
.alt{
  justify-content: flex-start;


}
.new-header-span{
  color: white;

}
.header-span{
  font-size: 24px;
  color: white;
  font-weight: 900;

}


.new-header-card{
width:300px;


}

header h1 span {
  font-size: 24px;
}

header h1 {
  font-size: 24px;
  color: white;
}

header span{
  color: white;

}

header h1 .btn {
  font-weight: 500;
}


h1 {
  font-weight: 900;
  font-size: 24px;
  margin: 0;
}

.top-box p{
  width: 300px;

}

.info-div{
  flex-wrap:wrap;
  justify-content: space-around;
}


.top-box{
  flex-wrap:wrap;
  justify-content: space-around;
}

.info-div article  {

  width: 300px;
  height:400px;
}

.info-div article h1 {

  position: relative;
  width: 36px;
}

.info-div article h1 p {
  transform: rotate(90deg);
  width: 36px;
  font-size: 36px;

  height: 36px;

  white-space: nowrap;
}

.bold-weight {
  font-weight: 700;
}

.little-size {
  font-size: 12px;
}

label {
  font-weight: bold;
}

.btn-success {
  font-weight: bold;
}

.info-text {
  font-weight: 500;
  margin: 0;
  font-size: 18px;
}

.info-box p {
  margin: 0;
  font-size: 12px;
}

.medium-text {
  font-size: 18px;
}

.bolder-text {
  font-weight: 500;
}

.col-md-6 {
  height: 100%;
}

hr {
  margin: 0;
}

.view-orders-link {
  text-align: right;
  font-weight: bold;
}

@media (max-width: 767.98px) {


  .new-header-card{
  justify-content: flex-start !important;
    
    }
    
  .col-md-6 {
    height: unset;
  }

  .view-orders-link {
    text-align: left;
  }

}

.boldest-text {
  font-weight: 900;
}


article h1 span {

  font-size: 36px;

}